body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #efead8;
}

/* LANDING PAGE */

.landing {
  padding: 40px 20px;
}

.profile-card {
  max-width: 950px;
  margin: auto;

  background: #5f7161;
  color: white;

  padding: 30px;

  border-radius: 20px;

  display: flex;
  align-items: center;
  gap: 30px;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.avatar {
  width: 110px;
  height: 110px;

  border-radius: 50%;

  background: #efead8;
  color: #5f7161;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: bold;
}

.profile-info h1 {
  margin: 0;
}

.profile-info p {
  margin-top: 10px;
}

.grid-info {
  max-width: 950px;
  margin: 25px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.info-box {
  background: white;

  padding: 25px;

  border-radius: 15px;

  text-align: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-box h3 {
  margin-top: 0;
  color: #5f7161;
}

.main-btn {
  display: block;

  margin: 20px auto;

  background: #5f7161;
  color: white;

  border: none;
  border-radius: 12px;

  padding: 14px 28px;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.main-btn:hover {
  background: #6d8b74;
  transform: translateY(-2px);
}

/* TODO LIST */

.container {
  width: 650px;
  margin: 50px auto;

  background: white;

  padding: 25px;

  border-radius: 15px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  color: #5f7161;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  flex: 1;

  padding: 12px;

  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-group button {
  background: #5f7161;
  color: white;

  border: none;

  padding: 12px 18px;

  border-radius: 8px;

  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f8f8f8;

  margin-top: 10px;

  padding: 12px;

  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: #b85042;
  color: white;

  border: none;

  padding: 8px 12px;

  border-radius: 6px;

  cursor: pointer;
}

.back-btn {
  margin-top: 20px;

  background: #6d8b74;
  color: white;

  border: none;

  padding: 12px 18px;

  border-radius: 8px;

  cursor: pointer;
}
